<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated anomalies -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="anomalies.presentation.AnomaliesModelWizardID"
            name="%_UI_AnomaliesModelWizard_label"
            class="anomalies.presentation.AnomaliesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnomaliesModelFile.gif">
         <description>%_UI_AnomaliesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated anomalies -->
      <editor
            id="anomalies.presentation.AnomaliesEditorID"
            name="%_UI_AnomaliesEditor_label"
            icon="icons/full/obj16/AnomaliesModelFile.gif"
            extensions="anomalies"
            class="anomalies.presentation.AnomaliesEditor"
            contributorClass="anomalies.presentation.AnomaliesActionBarContributor">
      </editor>
   </extension>

</plugin>
